<navbar class="navbar-container">
    <nav class="navbar">
        <a href="/panel/listaProductos">Productos</a>
        <a href="/panel/listaRecetas">Recetas</a>
        <!-- <a href="/logout">Cerrar sesión</a> -->
    </nav>
</navbar>