<navbar class="navbar-container">
    <nav class="navbar">
        <a href="/panel/productos">Productos</a>
        <a href="/panel/recetas">Recetas</a>
        <a href="/logout">Cerrar sesión</a>
    </nav>
</navbar>