<link rel="stylesheet" type="text/css" href="Backend\public\stylesheets\navbar.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
<div class="navbar-container">
    <nav class="navbar">
        <a href="/panel/productos">Productos</a>
        <a href="/panel/recetas">Recetas</a>
        <a href="/logout">Cerrar sesión</a>
    </nav>
</div>