<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/crearReceta.css" type="text/css">
</head>

<body>
    <%- include('../views/partials/navbar.ejs') %>
    <form class="container-fluid" name="formReceta" id="formReceta" action="/panel/crearReceta" method="POST">
        <header class="row title-container mt-2">
            <h1 class="text-center title-main">
                Crear Receta
            </h1>
        </header>
        <main class ="row formulario">
            <section class="col-md-4">
                <div class="form-group mb-1">
                    <label for="inputTitulo">
                        Titulo
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" class="form-control" name="txtTitulo" id="inputTitulo" placeholder="Empanada de JyQ sin queso">
                </div>
                <div class="form-group mb-1">
                    <label for="inputTiempoCoccion">Tiempo de cocción (min)</label>
                    <input type="text" class="form-control" name="txtTiempoCoccion" id="inputTiempoCoccion" placeholder="420">
                </div>
                <div class="form-group mb-1">
                    <label for="inputDificultad">Dificultad</label>
                    <input type="text" class="form-control" name="txtDificultad" id="inputDificultad" placeholder="0 (Pacifico)">
                </div>
                <div class="form-group mb-1">
                    <label for="inputImagen">Imagen (URL)</label>
                    <input type="text" class="form-control" name="srcImagen" id="inputImagen" placeholder="https://www.google.com/imgres?q=never%20gonna%20give%20you%20up&imgurl=https%3A%2F%2Fvariety.com%2Fwp-content%2Fuploads%2F2021%2F07%2FRick-Astley-Never-Gonna-Give-You-Up.png&imgrefurl=https%3A%2F%2Fvariety.com%2F2021%2Fdigital%2Fnews%2Frick-astley-never-gonna-give-you-up-1-billion-youtube-views-1235030404%2F&docid=0tR9HAdgSrzjFM&tbnid=uProF9ed-UN_MM&vet=12ahUKEwjio4rz1f-FAxXvqZUCHXAuBR0QM3oECBsQAA..i&w=1272&h=716&hcb=2&ved=2ahUKEwjio4rz1f-FAxXvqZUCHXAuBR0QM3oECBsQAA">
                </div>
                <div class="form-group mb-4">
                    <label for="textareaDescripcion">
                        Descripcion
                        <span class="obligatorio">*</span>
                    </label>
                    <textarea class="form-control textareaReceta" name="txtDescripcion" id="textareaDescripcion" placeholder="Empanadas de JyQ pero sin queso (Puede contener queso)"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-secondary" type="submit" id="btnSubmit" value="Submit">
                </div>
            </section>
            <section class="col-md-4">
                <div class="form-group mb-2">
                    <label for="inputIngredientes">
                        Ingredientes
                        <span class="obligatorio">*</span>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control inputItem"  id="inputIngredientes" placeholder="Queso">
                        <div class="input-group-append">
                            <input class="btn btn-dark btnItem" type="button" id="btnIngredientes" value="+"/>
                        </div>
                    </div>
                </div>
                <div class="containerItems" id="containerIngredientes"></div>
            </section>
            <section class="col-md-4">
                <div class="form-group mb-2">
                    <label for="inputPasos">
                        Pasos
                        <span class="obligatorio">*</span>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control inputItem"  id="inputPasos" placeholder="Compra empanadas, no seas rata">
                        <div class="input-group-append">
                            <input class="btn btn-dark btnItem" type="button" id="btnPasos" value="+"/>
                        </div>
                    </div>
                </div>
                <div class="containerItems" id="containerPasos"></div>
            </section>
        </main>
        <aside>
            <input type="text" style="display: none;" id="inputHiddenIngredientes" name="txtIngredientes">
            <input type="text" style="display: none;" id="inputHiddenPasos" name="txtPasos">
        </aside>
    </form>
    <script type="module" src="/script/crearReceta/main.js"></script>
</body>
</html>