body {
    font-family: 'Roboto', sans-serif;
}
.navbar-container {
    display: flex;
    justify-content: right;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 800px;
    width: 100%;
}

.navbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 5px 0;
    }
}